{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-syntax-async-generators",
    "@babel/transform-regenerator",
    "@babel/transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
  ]
}
